[submodule "plugins/seomatic"]
	path = plugins/seomatic
	url = https://github.com/nystudio107/seomatic.git
	branch = master

[submodule "plugins/instantanalytics"]
	path = plugins/instantanalytics
	url = https://github.com/nystudio107/instantanalytics.git
	branch = master

[submodule "plugins/retour"]
	path = plugins/retour
	url = https://github.com/nystudio107/retour.git
	branch = master
